<ng-container [ngSwitch]="field.type">
  <!-- Native -->
  <wb-select-field
    *ngSwitchCase="'select'"
    [(ngModel)]="value"
    [name]="name"
    [options]="field.options"
    [min]="field.min"
    [max]="field.max"
    [default]="field.default"
    [disabled]="isDisabled"
  >
  </wb-select-field>
  <wb-radio-field
    *ngSwitchCase="'radio'"
    [(ngModel)]="value"
    [name]="name"
    [options]="field.options"
    [min]="field.min"
    [max]="field.max"
    [default]="field.default"
    [disabled]="isDisabled"
  >
  </wb-radio-field>
  <wb-checkbox-field
    *ngSwitchCase="'checkbox'"
    [(ngModel)]="value"
    [name]="name"
    [options]="field.options"
    [min]="field.min"
    [max]="field.max"
    [default]="field.default"
    [disabled]="isDisabled"
  >
  </wb-checkbox-field>
  <wb-button-field
    *ngSwitchCase="'button'"
    [(ngModel)]="value"
    [name]="name"
    [options]="field.options"
    [min]="field.min"
    [max]="field.max"
    [default]="field.default"
    [disabled]="isDisabled"
  >
  </wb-button-field>
  <wb-text-field
    *ngSwitchCase="'text'"
    [(ngModel)]="value"
    [name]="name"
    [min]="field.min"
    [max]="field.max"
    [default]="field.default"
    [disabled]="isDisabled"
  >
  </wb-text-field>
  <wb-slider-field
    *ngSwitchCase="'slider'"
    [(ngModel)]="value"
    [name]="name"
    [min]="field.min"
    [max]="field.max"
    [default]="field.default"
    [disabled]="isDisabled"
  >
  </wb-slider-field>
</ng-container>
